:root{
    --primary-color: #DB2777;
}
body{
    margin: 0px;
}
.nav{
    padding: 0.4rem;
    background-image: linear-gradient(-45deg, #f761a1 0, #8c1bab 100%);
    padding-left: 1rem;
    padding-right: 1rem;
}
h2{
    margin-block-start: 0em;
}
.center{
    text-align: center;
}
.container{
    max-width: 40rem;
    margin: auto;
    padding: 1rem;

}
.pad{
    padding: 0.5rem;
}
span.label {
    font-size: 1.5em;
    font-weight: 700;
    

}
.btn{
    padding: 0.5rem;
    border-style: none;
    border-radius: 3px;
    background-image: linear-gradient(-45deg, #f761a1 0, #8c1bab 100%);
  
}
img.size{
    margin-top: 2rem;
    height: 8rem;
    animation: shake 1s;
  animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -20px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


footer .link{
    text-decoration: none;
    color: black;
}
 

 .social-image {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50rem;
    
    object-fit: cover;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }

h1.ml8 {
    font-weight: 900;
    font-size: 3.5rem;
    color: yellow;
    
  }

  
  .ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }
  
  .ml8 .circle-white {
    width: 25rem;
    height: 25rem;
    border: 2px solid yellow;
    border-radius: 25rem;
    background-color: rgb(192, 80, 158);
  }
  
  .ml8 .circle-dark {
    width: 18rem;
    height: 18rem;
    background-color: #4f7b86;
    border: 2px dashed yellow;
    border-radius: 15rem;
    
  }
  
  
  .ml8 .box-dark-border1 {
    
    background-color: transparent;
    border: 2px solid #16b8e0;
    width: 20rem;
    height: 20rem;
    animation: box-move2 5s infinite;
  }

  .ml8 .box-dark-border2 {
    -webkit-transform: rotate(45deg) ;
    background-color: transparent;
    border: 2px solid #46f8c3;
    width: 20rem;
    height: 20rem;
    animation: box-move1 5s infinite;
  }

  

  @keyframes box-move1 {
    0%   {width: 0rem; height: 0rem}
    50%  {width: 20rem; height:20rem}
    
    100% {width: 22rem; height:22rem}
  }
  @keyframes box-move2 {
    0%   {width: 0rem; height: 0rem}
    50%  {width: 22rem; height:22rem}
    
    100% {width: 20rem; height: 20rem}
  }

  

.text-outline{
    
   -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: rgb(136, 36, 128);
   font-size: 3rem;
   font-family: 'Arvo', serif;
}

.text-fill{
  font-family: 'Arvo', serif;
  font-weight: 300;
  color: rgb(143, 34, 119);
  font-size: 4rem;
  animation: glow 1s ease-in-out infinite alternate;
  
}

  
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #fff, 0 0 30px  palevioletred, 0 0 40px   palevioletred;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #a72a68, 0 0 40px #a72a68, 0 0 50px  #a72a68, 0 0 60px  #a72a68;
    }
  }

  .emoji{
    position: absolute;
    font-size: 5rem;
    
   margin-left: 5rem;
    animation: heartbeat 2s infinite;
  }
  @keyframes heartbeat {
    from{
      font-size: 3rem;
    }
    to{
      font-size: 5rem;
    }
  }
